/**
 * GitStats - custom style
 *
 * All credits go to https://github.com/span/gitstats/
 *
 */
body {
	color: black;
	background-color: #fefefe;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	color: #333;
	line-height: 1.5em;
}

h1 a, h2 a {
	text-decoration: none;
	color: #666;
}

h1:hover a:after,
h2:hover a:after {
	content: '¶';
	color: #555;
}

h1 {
	font-family: Georgia, 'Times new roman', "Times", serif;
	color: #999;
	font-style: italic;
	font-weight: normal;
	font-size: 2.5em;
}

h2 {
	color: #999;
	clear: both;
	font-weight: normal;
	border-bottom: 1px solid #CCC;
	padding: 1em 0 0.5em 0;
}

a {
	color: #1E90FF;
	text-decoration: none;
}

a:visited {
	color: #03BFFA;
}

dl {
	margin: 0;
}

dt {
	margin: 1em 1em 0em 0em;
	clear: both;
	color: #666;
}

dt:after {
	content: ': ';
}

dd {
	display: block;
	clear: left;
}

table {
	border-collapse: collapse;
	font-size: 0.8em;
	margin-bottom: 1em;
}

table.noborders {
	border: none;
}

table.noborders td {
	border: none;
}

.vtable {
	float: left;
	clear: both;
}

table.tags td {
	vertical-align: top;
}

tbody {
	border: 1px solid #CCC;
}

td {
	background-color: white;
}

img {
	background-color: white;
}

th {
	background-color: #EEE;
	padding: 0.5em;
}

th a {
	text-decoration: none;
}

th img {
	border: 0px;
	padding: 0px;
	background-color: #ddf;
}


tr:hover {
	background-color: #ddf;
}

td {
	border: 1px solid #CCC;
	padding: 0.2em 1em;
}

/* Navigation bar; tabbed style */
.nav {
	border-bottom: 1px solid #CCC;
	overflow: hidden;
}

.nav ul {
	float:left;
	width:100%;
	padding:0;
	margin:0;
	list-style-type:none;
}

.nav li {
	display: inline;
}

.nav li a {
	float: left;
	text-decoration: none;
	padding: 0.5em 1.5em;
}

.nav li a:hover {
	background-color: #eee;
}

.moreauthors {
	font-size: 80%;
}
